
<% content_for :dashboard do %>
<%= render 'landings/navbar'%>
<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a href="#">
            Start Bootstrap
          </a>
        </li>
        <li>
          <a href="#">Dashboard</a>
        </li>
        <li>
          <a href="#">Shortcuts</a>
        </li>
        <li>
          <a href="#">Overview</a>
        </li>
        <li>
          <a href="#">Events</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Services</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </div>
    <!-- /#sidebar-wrapper -->
  
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <a href="#menu-toggle" class="btn btn-secondary float-right" id="menu-toggle">Toggle Menu</a>
        <h1>Simple Sidebar</h1>
        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
      </div>
    </div>
    <!-- /#page-content-wrapper -->
  
  </div>
<!-- <div class= "container">
    
    
    <div class="row">
        <div class="col-md-12">
            <h1>Hello <%= @user.first_name %>! </h1>
        </div>
    </div>
    
    <% if @user.set_dash == false %>
        <div class="row">
            <div class="col-md-12">
                <h2>Let's Set Up Your Dashboard!</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <%= link_to "Set Up Dashboard", profiles_dashboard_set_up_path, class: "btn btn-success" %>
            </div>
        </div>

    <%else%>
        <div class="row">
            <div class="col-md-12">
                <h2>Your Dashboard is set</h2>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-12">
                <h1>Hello  </h1>
            </div>
        </div>    
        <p>Find me in app/views/profiles/dashboard.html.erb</p>
    <%end%>
</div> -->
    <%end%>
    