.borders {
    border-style: solid;
    border-width: 5px;
    border-color: rgb(235,76,78) rgb(237,230,124) rgb(147,42,168) rgb(237,230,124);
}

.signup-img {
    background-image: asset_url("hands-on-brick-wall.jpg");
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.purple-background {
    background-color: rgba(147,42,168,.8);
}

#overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.text-white {
    color: white;
}